.content :global(> *:first-child) {
  margin-top: 0;
}

.content :global(> *:last-child) {
  margin-bottom: 0;
}

.content :global(iframe) {
  width: 100%;
  aspect-ratio: 3/2;
}

.content :global(img) {
  margin: 0;
}

.content :global(sup > a::before) {
  content: '[';
}

.content :global(sup > a::after) {
  content: ']';
}

.content :global(.footnotes) {
  border-top: 1px solid #444c56;
  padding-top: 1.1428571em;
  font-size: 10px;
}

.content :global(.footnotes li) {
  border-radius: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 1px;
  margin: 0;
  scroll-margin-top: calc(100vh);
}

.content :global(.footnotes li:target),
.content :global(.footnotes li.is-active) {
  outline: 1px solid yellow;
}

.content :global(.footnotes p) {
  margin: 0;
  word-break: break-all;
}

.content :global(.snippet-clipboard-content pre),
.content :global(.highlight pre) {
  margin-top: 0;
  margin-bottom: 0;
}

.content :global(.highlight) {
  margin-bottom: 16px;
}

.content :global(pre) {
  background-color: #212121;
}

.content :global(blockquote) {
  color: #e5e7eb;
}

.content :global(hr) {
  border-width: 2px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
