body {
  background-color: var(--flexoki-black);
  color: var(--flexoki-200);
  word-break: keep-all;
}

:target {
  scroll-margin-top: calc(60px + 1em);
}

::-webkit-calendar-picker-indicator {
  display: none !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  word-wrap: normal;
  border: 0;
}

.markdown-alert {
  padding: 0.75rem 1rem;
  margin: 1rem 0;
  border-left: 4px solid;
  border-radius: 0 0.375rem 0.375rem 0;
}

.markdown-alert-title {
  display: none;
}

.markdown-alert > p:last-child {
  margin-bottom: 0;
}

.markdown-alert-note {
  background-color: var(--flexoki-blue-950);
  border-color: var(--flexoki-blue-400);
}

.markdown-alert-tip {
  background-color: var(--flexoki-green-950);
  border-color: var(--flexoki-green-400);
}

.markdown-alert-important {
  background-color: var(--flexoki-purple-950);
  border-color: var(--flexoki-purple-400);
}

.markdown-alert-warning {
  background-color: var(--flexoki-yellow-950);
  border-color: var(--flexoki-yellow-400);
}

.markdown-alert-caution {
  background-color: var(--flexoki-red-950);
  border-color: var(--flexoki-red-400);
}
