---
import { Code } from 'astro:components'
import Layout from '@layouts/Layout.astro'
import { getReleaseMemoCollection } from '@collection/memo'

const PAGE_TITLE = '홈 | eunsoolee'
const PAGE_DESCRIPTION = '개발, 만화, 음악, 등등등'

const memoCollection = await getReleaseMemoCollection()
const tags = Array.from(
  new Set(memoCollection.map((memo) => memo.data.tags).flat())
)

const code = `${JSON.stringify(
  {
    title: PAGE_TITLE,
    description: PAGE_DESCRIPTION,
    memos: memoCollection.length,
    tags: tags.length,
  },
  null,
  2
)}`

export const prerender = true
---

<Layout title={PAGE_TITLE} description={PAGE_DESCRIPTION}>
  <h1 class="mb-4 text-sm">안녕하세요 저는 이은수입니다.</h1>

  <Code
    {code}
    lang="json"
    theme="one-dark-pro"
    class="p-4 rounded-md mb-4 text-xs"
  />
</Layout>
