---
import { getReleaseMemoCollection } from '@collection/memo'
import { SearchForm } from '@components/Search/SearchForm'
import { SearchFormField } from '@components/Search/SearchFormField'
import { Tags } from '@components/Tag/Tags'
import Layout from '@layouts/Layout.astro'

const memos = await getReleaseMemoCollection()
const tags = Array.from(new Set(memos.map((memo) => memo.data.tags).flat()))

const PAGE_TITLE = `메모 검색 | eunsoolee`
const PAGE_DESCRIPTION = ''
---

<Layout title={PAGE_TITLE} description={PAGE_DESCRIPTION}>
  <div class="flex flex-col gap-4">
    <label
      class="relative flex h-9 w-full p-2 px-3 rounded-xl bg-[--solarized-background-highlight] text-[--solarized-green] text-xs"
    >
      <span class="relative text-sm z-[1]" aria-label="검색">🔦</span>
      <SearchFormField client:only="react" />
    </label>

    <Tags client:only="react" tags={tags} />

    <SearchForm client:only="react" />
  </div>
</Layout>
