.root {
  @apply leading-relaxed;
}

.root > * {
  @apply my-4;
}

.root > *:first-of-type {
  @apply mt-0;
}

.root > *:last-child {
  @apply mb-0;
}

.root code,
.root pre {
  @apply font-mono;
}

.root code:not(pre > code) {
  @apply p-1 rounded-lg text-xs bg-[--flexoki-900];
}

.root code::before {
  content: '`';
}

.root code::after {
  content: '`';
}

.root pre {
  @apply py-2 text-xs rounded-md !bg-[--flexoki-950] leading-relaxed;
}

.root pre code::before,
.root pre code::after {
  content: none;
}

.root pre :global(.line) {
  @apply pl-2;
}

.root pre :global(.line:empty:last-of-type) {
  @apply hidden;
}

.root pre :global(.highlighted) {
  @apply inline-block w-full;
  background-color: hsl(210 12% 20% / 1);
}

.root hr {
  @apply border-[--flexoki-950];
}

.root ul,
.root ol {
  @apply flex flex-col gap-2 pl-[14px] break-words;
}

.root li ul,
.root li ol {
  @apply pt-2;
}

.root ul {
  @apply list-disc;
}

.root ol {
  @apply list-decimal;
}

.root li {
  @apply text-gray-400;
}

.root li a {
  @apply hover:text-gray-100 transition-all;
}

.root blockquote {
  @apply p-2 bg-[--flexoki-950] text-[10px] rounded-md;
}

.root [data-footnote-ref]::before {
  content: '[';
}

.root [data-footnote-ref]::after {
  content: ']';
}

.root a:not([data-footnote-backref]):has(code) {
  @apply no-underline;
}

.root strong {
  @apply text-[--flexoki-100];
}

.root [data-footnotes] {
  @apply text-[--flexoki-400];
}

.root [data-footnotes] a {
  @apply no-underline;
}

.root h1,
.root h2,
.root h3,
.root h4,
.root h5,
.root h6 {
  @apply font-bold;
}

.root h1,
.root h2,
.root h3 {
  @apply text-[13px];
}

.root h4,
.root h5,
.root h6 {
  @apply text-[12px];
}

.root a:not([class*=]) {
  text-decoration: underline;
}
