.container [data-footnote-ref='true'],
.container [data-footnote-backref='true'] {
  @apply no-underline;
}

.container [data-footnote-ref='true']::before {
  content: '[';
}

.container [data-footnote-ref='true']::after {
  content: ']';
}

.container [data-footnote-backref='true'] {
  @apply text-[10px];
}

.container :global(blockquote) {
  @apply text-inherit;
}

.container :global(strong) {
  @apply font-bold text-inherit;
  color: var(--solarized-blue);
}

.container :global(.footnotes) {
  color: var(--solarized-secondary);
}

.container :global(:where(thead th):not(:where([class~='not-prose'] *))) {
  color: inherit;
}
